:root {
    --titleFont: 'Staatliches', cursive;
    --bodyFont: 'Montserrat', sans-serif;
}
@keyframes fadeIn {
    from {background-color: transparent;}
    to {background-color: rgb(64, 66, 75);}
}
html, body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin: 0px;
    font-family: var(--bodyFont);
}
img {
    height: 80%;
    width: 80%;
}
label {
    width:100%;
    text-align: center;
    padding: 1rem 0rem 0.5rem 0rem;
}
input, input:focus {
    border-radius: 0.3rem;
    border: none;
    outline: none;
    background-color: rgb(231, 230, 245);
    text-align: center;
    width: 85%;
    height: 1.5rem;
}
#startScreen, .greyScreen {
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgb(64, 66, 75);
}
#playerInput {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 75%;
    max-width: 25rem;
}
#startBtn {
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    min-height: 2.5rem;
    min-width: 10rem;
    width: 70%;
    background-color: lightgreen;
    font-family: var(--titleFont);
    cursor: pointer;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
}
#border {
    position: fixed;
    align-self: center;
    background-color: black;
    width: auto;
    height: auto;
    margin: 0.3rem;
}
#grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    height: auto;
    width: auto;
    gap: 0.2rem;
}
.cell {
    display: flex;
    height: 30vw;
    width: 30vw;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#winScreen {
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
}
#winner {
    font-family: var(--titleFont);
    font-size:3rem;
    letter-spacing: 0.2rem;
}

@media screen and (min-width: 550px) {
    .cell {
        height: 23vw;
        width: 23vw;
    }
}
@media screen and (min-width: 1300px) {
    .cell {
        height: 14vw;
        width: 14vw;
    }
}
@media screen and (min-width: 2100px) {
    .cell {
        height: 11vw;
        width: 11vw;
    }
}